<launch>
  <node name="camera_server" pkg="ucsd_robo_car_simple_ros" type="camera_server.py" />
  <node name="lane_detection_node" pkg="ucsd_robo_car_simple_ros" type="lane_Detection.py" output="screen" />
  <node name="lane_guidance_node" pkg="ucsd_robo_car_simple_ros" type="lane_guidance.py" />
</launch>
