<launch>
  <rosparam command="load" file="$(find ucsd_robo_car_simple_ros)/config/color_filter_parameters/custom_filter.yaml" />
  <node name="camera_server" pkg="ucsd_robo_car_simple_ros" type="camera_server.py" />
  <node name="line_detection_node" pkg="ucsd_robo_car_simple_ros" type="line_Detection.py" output="screen" />
  <node name="lane_guidance_node" pkg="ucsd_robo_car_simple_ros" type="lane_guidance.py" />
</launch>
